* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

body {
	width: 100vw;
	min-height: 100vh;
	background-color: rgb(59, 56, 95);
}

.canvasWrapper {
	display: inline-block;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#particleCanvas {
	background-color: rgb(36, 34, 56);
	margin-top: 2em;
	display: block;
}

.pageTitle {
	text-align: center;
	margin-top: 1em;
	color: paleturquoise;
}

.descriptionWrapper {
	max-width: 1100px;
	margin: 1em auto;
	padding: 0 1em;
	color: paleturquoise;
	margin-bottom: 3em;
}

h3,
h2 {
	margin-top: 1em;
}

h3 {
	text-align: center;
}

p + p {
	margin-top: 1em;
}

a {
	color: #37f29a;
}

ol {
	list-style-position: inside;
	margin-left: 1em;
	margin-bottom: 1em;
}

li {
	margin-top: 1em;
}

.equations {
	display: block;
	margin: 1em auto;
	max-width: 400px;
}
